:root {
  --font-primary: 'PP Mori', sans-serif;
  --font-secondary: 'Druk Wide', sans-serif;

  --primary-color: #4e68e4;
  --secondary-color: #f5acc5;
  --difference-color: #b1991b;
  --filter-color: #ffc1c1;
  --img-filter-color: #a3b9e5;

  --background-color: #fff2e6;
  --layer-color: rgb(244 244 244 / 95%);
  
  --text-color-light: #4e68e4;
  --text-color-dark: #ffffff; 
}