
[class*="btn-type"]{
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  background-color: transparent;
  border: 1px solid #c8acf0;
  border-radius: 999px;

  font-size: 20px;
  white-space: nowrap;
  transition: color 0.6s, background-color 0.6s, box-shadow 0.6s, border-color 0.6s;

  &.white{
    border-color: #000;
    color: #000;

    &:hover{
      background-color: #fff;
      border-color: transparent;
    }
  }

  &.purple{
    &:hover{
      background-color: #C8ACF0;
      color: #000;
    }
  }

  &:hover{
    background-color: #fff;
    box-shadow: 0rem 0rem 2.0832rem 0.7rem rgba(255, 255, 255, 0.3) inset, 0rem 0rem 1.4rem 0.3rem rgba(255, 255, 255, 0.3);
    
    & [class*="dot-"]{
      visibility: visible;
      transform: translate(0, 0) rotate(var(--rotatation));
    }
    & [class*="dot-"]::after{
      animation-play-state: running;
    }
  }
  
}

.btn-type1{
  width: 63px;
  height: 63px;
  color: #fff;
  border-color:  #3e3e3e;

  @include tablet{
    width: 48px;
    height: 48px;

    &::before{
      width: 24px;
      height: 24px;
    }
  }
  @include m{
    width: 40px;
    height: 40px;

    &::before{
      width: 22px;
      height: 22px;
    }
  }
}

.btn-type2{
  gap: 10px;
  padding: 22px 38px;
  transform-origin: 100% 100%;
  @include tablet{
    padding: 12px 24px;
    font-size: 16px;
  }
  @include m{
    gap: 4px;
    padding: 10px 16px;
    font-size: 16px;
  }
}

[class*="down-"]{
  &::before{
    position: relative;
    z-index: 2;
    width: 30px;
    height: 30px;
    transition: background-image 0.6s;
    content: '';

    @include tablet{
      width: 24px;
      height: 24px;
    }

    @include m{
      width: 22px;
      height: 22px;
    }
  }
}
.down-appstore{
  &::before{
    background: url(../images/ic-appstore-wh.svg) no-repeat center / contain;
  }
  &.white::before{
    background: url(../images/ic-appstore.svg) no-repeat center / contain;
  }
  &:hover::before{
    background: url(../images/ic-appstore.svg) no-repeat center / contain;
  }
}
.down-google{
  &::before{
    background: url(../images/ic-google-wh.svg) no-repeat center / contain;
  }
  &.white::before{
    background: url(../images/ic-google.svg) no-repeat center / contain;
  }
  &:hover::before{
    background: url(../images/ic-google.svg) no-repeat center / contain;
  }
}

[class*="btn-type"] [class*="dot-"]{
  display: flex;
  position: absolute;
  width: var(--size);
  height: var(--size);
  transform: translate(var(--starting-x), var(--starting-y)) rotate(var(--rotatation));
  transition: transform calc(var(--speed) / 12) ease, visibility 0.5s ease;
  visibility: hidden;
  pointer-events: none;

  &::after{
    width: 100%;
    height: 100%;
    background: #C8ACF0;
    border-radius: 100%;
    box-shadow: 0rem 0rem 0.42rem 0rem #C8ACF0, 0rem 0rem 0.3rem 0rem #C8ACF0 inset, 0rem 0rem 0.14rem 0.069rem #C8ACF0;
    animation: moveFirefly var(--speed) infinite, lightFirefly calc(var(--speed) / 2) infinite calc(var(--speed) / 3);
    animation-play-state: paused;
    content: '';
  }
  &.white::after{
    background: #fff;
    box-shadow: 0rem 0rem 0.42rem 0rem #fff, 0rem 0rem 0.3rem 0rem #fff inset, 0rem 0rem 0.14rem 0.069rem #fff;
  }
}

[class*="btn-type"] .dot-1{
  --rotatation: 0deg;
  --speed: 14s;
  --size: 8px;
  --starting-x: 38px;
  --starting-y: 25px;
  top: 2.5px;
  left: -21px;
  opacity: 0.7;
}
[class*="btn-type"] .dot-2{
  --rotatation: 122deg;
  --speed: 16s;
  --size: 4px;
  --starting-x: 52px;
  --starting-y: 11.5px;
  top: 1px;
  left: 0;
  opacity: 0.7;
}
[class*="btn-type"] .dot-3{
  --rotatation: 39deg;
  --speed: 20s;
  --size: 5px;
  --starting-x: -13.5px;
  --starting-y: 27px;
  top: -10.5px;
  right: 18.5px;
}
[class*="btn-type"] .dot-4{
  --rotatation: 220deg;
  --speed: 18s;
  --size: 2.5px;
  --starting-x: -38px;
  --starting-y: -6.5px;
  bottom: 5px;
  right: -18px;
  opacity: 0.9;
}
[class*="btn-type"] .dot-5{
  --rotatation: 190deg;
  --speed: 22s;
  --size: 6.5px;
  --starting-x: -52px;
  --starting-y: -27px;
  bottom: -8px;
  right: -4px;
}
[class*="btn-type"] .dot-6{
  --rotatation: 20deg;
  --speed: 15s;
  --size: 5px;
  --starting-x: 16px;
  --starting-y: -24px;
  bottom: -16px;
  left: 38px;
  opacity: 0.7;
}
[class*="btn-type"] .dot-7{
  --rotatation: 300deg;
  --speed: 19s;
  --size: 4px;
  --starting-x: 8px;
  --starting-y: -26.5px;
  bottom: -21px;
  left: 57.5px;
}

@keyframes moveFirefly{
  0% {
    transform: translate(0, 0);
  }
  12% {
    transform: translate(4px, 1.5px);
  }
  24% {
    transform: translate(-2.5px, 4px);
  }
  37% {
    transform: translate(2.5px, -2.5px);
  }
  55% {
    transform: translate(-1.5px, 0px);
  }
  74% {
    transform: translate(0px, 2.5px);
  }
  88% {
    transform: translate(-4px, -1.5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes lightFirefly{
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}