/* 영문 */
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLightItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  line-height: 1;
  --primary-color: #8e7b6d;
  /* --primary-color: #82a6b1; */
  --primary-color-text: #766254;
  /* --primary-color-text: #76877d; */
  --primary-color-border: #b5a89f80;
  /* --primary-color-border: #82a6b180; */
  --primary-color-bg: #e4ddd4;
  --text-color: #383331;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol {
  list-style: none;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
  overscroll-behavior: none;
  overflow-x: hidden;
}
